
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/about.css" %}">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <script>
    function generatePDF(){
      const element = document.getElementById("invoice");

      html2pdf()
      .from(element)
      .save();
    }
    </script>
    <style media="screen">
      .container{
        font-size: 20px;
      }
      .header{
        font-family: New Century Schoolbook, TeX Gyre Schola, serif;
        background: linear-gradient(90deg, rgba(21,117,164,1) 0%, rgba(36,109,214,1) 100%);
      }
      .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       height: 50px;
       background: linear-gradient(90deg, rgba(21,117,164,1) 0%, rgba(36,109,214,1) 100%);
       color: white;
       text-align: center;
    }
    </style>
  </head>
  <body>
    <div class="header" id="h">
          <img src="{% static "images/anna.png" %}" width="100px" style="float:left">
          <a><h1 style="color:black;">Faculty Information and Contrubtion System <br>
          Department of Information Science and Technology<br>
          Anna University, Chennai-600025</h1></a>
    </div>
    <div class="topnav" id="topnav">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'about' %}">About Us</a>
      <a href="https://annauniv.edu/">Au Home</a>
      <a href="https://www.annauniv.edu/DIST/contact.html" style="float:right">Help</a>
    </div>

{% if data.data1 or data.data2 or data.data3 or data.data4 %}
    <div class="w-25 p-3" width 25% height 50% id="invoice">

      <table class="table table-striped" border="1" width="">
        <tr>
		        <td><b>Authors</b></td>
            <td><b>Title</b></td>
            <td><b>Vol_No</b></td>
            <td><b>Isssue_No</b></td>
            <td><b>Year</b></td>
            <td><b>Page_No</b></td>
            <td><b>Publisher</b></td>
            <td><b>Indexed_and_Impact_Factor</b></td>
        </tr>
        <fieldset>
            <legend><b><center>JOURNAL PAPER </center></b></legend>
            <label for="fname">Faculty Name:</label>{{data.F_Name}}<br>
        </fieldset><br>
      {% for i in data.data1 %}

      <tr>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>
        </tr>

      {% endfor %}


      {% for i in data.data2 %}
      <tr>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>

        </tr>

      {% endfor %}


      {% for i in data.data3 %}
      <tr>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>

        </tr>

      {% endfor %}


      {% for i in data.data4 %}

      <tr>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        <td>{{i.9}}</td>

        </tr>

      {% endfor %}


  </table>


{% endif %}

{% if data.data11 or data.data21 or data.data31 or data.data41 %}

  <table class="table table-striped" border="1" width="">
    <tr>
        <td><b>Authors</b></td>
        <td><b>Title</b></td>
        <td><b>Year</b></td>
        <td><b>Vol_Page_No</b></td>
        <td><b>Conference_publication</b></td>
    </tr>
    <fieldset>
        <legend><b><center>CONFERENCE PAPER</center></b></legend>
        <label for="fname">Faculty Name:</label>{{data.F_Name}}<br>
    </fieldset><br>
  {% for i in data.data11 %}

  <tr>
    <td>{{i.2}}</td>
    <td>{{i.3}}</td>
    <td>{{i.4}}</td>
    <td>{{i.5}}</td>
    <td>{{i.6}}</td>
    </tr>

  {% endfor %}


  {% for i in data.data21 %}
  <tr>
    <td>{{i.2}}</td>
    <td>{{i.3}}</td>
    <td>{{i.4}}</td>
    <td>{{i.5}}</td>
    <td>{{i.6}}</td>

    </tr>

  {% endfor %}


  {% for i in data.data31 %}
  <tr>
    <td>{{i.2}}</td>
    <td>{{i.3}}</td>
    <td>{{i.4}}</td>
    <td>{{i.5}}</td>
    <td>{{i.6}}</td>

    </tr>

  {% endfor %}


  {% for i in data.data41 %}

  <tr>
    <td>{{i.2}}</td>
    <td>{{i.3}}</td>
    <td>{{i.4}}</td>
    <td>{{i.5}}</td>
    <td>{{i.6}}</td>

    </tr>

  {% endfor %}


</table>

</div>
{% endif %}

<button class="btn btn-info" onclick="generatePDF()">Download</button>

<br>
<br>
<br>
<br>
<br>


<footer class="footer">
  <p>Copyright © 2018 DIST
Developed & Maintained by MCA</p>
</footer>


  </body>
</html>
